@use "../base/font";

@use "../utilities/background" as bg;
@use "../utilities/breakpoint";

@use "../components/dialogue";
@use "../components/form";
@use "../components/flicker";
@use "../components/bottom-nav";

$unify-horizontall-padding-s: 20px;
$unify-horizontall-padding-ml: 40px;

footer {
  margin-top: 40px;

  section {
    @include bg.section_bg;
    padding: 20px $unify-horizontall-padding-s;

    @include breakpoint.desktop {
      padding: 20px $unify-horizontall-padding-ml;
    }
  }

  .row {
    > div + div {
      margin-top: 20px;
    }

    @include breakpoint.tablet {
      > div:not(:last-child, div:nth-last-child(2)) {
        margin-top: 0;
      }
    }

    @include breakpoint.desktop {
      > div:last-child,
      div:nth-last-child(2) {
        margin-top: 0;
      }
    }
  }
}

.footer_block_title {
  margin-bottom: 20px;
  @extend %footer-content-title;
}
