@use "../utilities/background" as bg;
@use "../utilities/breakpoint";

@use "../vendors/bootstrap/navbar";
@use "../vendors/bootstrap/search";
@use "../components/social-media";

header {
  margin-top: 10px;
  padding: 15px 15px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include bg.section_bg;
  @include breakpoint.tablet {
    justify-content: space-between;
  }
}

.logo a {
  display: inline-block;
}

.connect {
  margin: 15px 0 0 0;

  @include breakpoint.tablet {
    margin: 0 0 0 0;
  }
}

.social_media {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  @include breakpoint.tablet {
    justify-content: flex-end;
  }
}

.navigation {
  margin-top: 20px;
  background: linear-gradient(180deg, transparent 60%, #fff 60%);
}
