$mobile-horizontal: 576px;
$tablet: 768px;
$desktop: 992px;
$bgScreen: 1400px;

@mixin mobile-horizontal {
  @media (min-width: $mobile-horizontal) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin bgScreen {
  @media (min-width: $bgScreen) {
    @content;
  }
}
