@use "../base/color" as *;

@mixin button-base {
  padding: 5px 10px;
  border: none;

  text-transform: uppercase;
}

@mixin button-more {
  display: inline-block;
  padding: 10px;
  margin-top: 20px;

  background: $gray-300;
  text-transform: capitalize;
  font-weight: 500;
}
