// 絕對定位
@mixin position-absolute(
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $zindex: 1
) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  z-index: $zindex;
}
