// 絕對定位
@mixin position-absolute($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
  z-index: 1;
}

// 當段落超過一定行數則顯示刪節號
@mixin line-clamp($rows) {
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
