@use "../base/color" as *;
// .news_date {
//   padding: 5px;
//   color: white;
//   background: $highlight-green;
// }

@mixin news_date {
  padding: 5px;
  color: white;
  background: $highlight-green;
}
