@use "../base/color" as *;
@use "../utilities/icon-unify" as icon;

.feature {
  display: flex;
  padding: 10px 10px;
  border-bottom: 2px solid $gray-200;

  a {
    flex-shrink: 0;

    @include icon.icon-circle-bg(40px);

    &:hover {
      background: $highlight-green;

      i {
        transform: rotate(90deg);
        transition: 0.2s ease-in;
      }
    }
  }

  p {
    margin-left: 20px;
    align-self: center;
  }

  & + div {
    padding: 10px 10px;
    border-bottom: 2px solid $gray-200;
    text-align: center;
  }
}
