@use "../base/color" as *;
@use "../utilities/input-style" as input;
@use "../utilities/button-style" as btn;

.contact {
  input,
  textarea {
    width: 100%;
    @include input.input-base;
  }

  button {
    @include btn.button-base;
  }

  .reset_button {
    background: black;
    color: white;
  }

  .submit_button {
    margin-left: 5px;
    background: $highlight-green;
    color: white;
  }
}
