@use "../base/color" as *;
@use "../base/font";

@use "./more-link";

.news_card {
  display: flex;
  // position: relative;
  //for stretch <a> link

  .news_card_body {
    margin-left: 15px;
  }
  .news_date {
    padding: 5px;
    color: white;
    background: $highlight-green;
  }

  p {
    margin-top: 15px;
    font-size: 14px;
  }

  // a {
  //   @extend %more-link;
  // }
}
